@{ ViewData["Title"] = "Productos"; }

@model List<Producto>

<h1>
    Productos:
</h1>

<table>
    <thead>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th></th>
    </thead>
    @foreach (var e in Model)
    {
        <tr>
            <th>@e.Descripcion</th>
            <td>@e.Precio</td>
            <td>@e.Cantidad</td>
            <td>
                <button class="btn btn-info" asp-action="Details" asp-route-id="@e.Id">Detalles</button>
                <button class="btn btn-info" asp-action="Edit" asp-route-id="@e.Id">Editar</button>
                <button class="btn btn-info" asp-action="Delete" asp-route-id="@e.Id">Eliminar</button>
            </td>
        </tr>
    }
</table>
<br><br>
<div style="text-align: center;">
<button class="btn btn-primary" asp-action="Create">Crear Producto:</button>
</div>