@{ ViewData["Title"] = "Productos"; }

@model List<Producto>

<a asp-action="Create">Crear un Nuevo Producto</a>

<h1>
    Productos:
</h1>

<table>
    <tr>
        <th>Nombre</th>
        <th>Edad</th>
        <th></th>
    </tr>
    @foreach (var e in Model)
    {
        <tr>
            <th>@e.Nombre</th>
            <td>@e.Edad</td>
            <td>
                <a asp-action="Details" asp-route-id="@e.Id">Detalles</a> |
                <a asp-action="Edit" asp-route-id="@e.Id">Editar</a> |
                <a asp-action="Delete" asp-route-id="@e.Id">Eliminar</a>
            </td>
        </tr>
    }
</table>