@{ ViewData["Title"] = "Clientes > Detalle"; }

@model Cliente


<!-- Genera un card para mostrar los datos del cliente-->
<div class="card">
    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
        class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">ID: @Model.Id</h5>
        <p class="card-text"><b>Nombre:</b> @Model.Nombre</p>
        <p class="card-text"><b>Dirección:</b> @Model.Direccion </p>
        <p class="card-text"><b>Teléfono:</b> @Model.Telefono</p>
        <p class="card-text"><b>Correo:</b> @Model.Correo</p>
    </div>
</div>