@{ ViewData["Title"] = "Clientes"; }

@model List<Cliente>


    <!-- Título de clientes con boostrap-->
    <br>
    <div class="container" id="title">
        <h1 >Clientes</h1>
    </div>
    <br>

    <table class="table table-striped">
        <thead>

            <th>Nombre</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>OPCIONES</th>
        </thead>
        @foreach (var c in Model)
        {
        <tr>
            <th>@c.Nombre</th>
            <td>@c.Direccion</td>
            <th>@c.Telefono</th>
            <td>@c.Correo</td>
            <td>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@c.Id">Detalles</a>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@c.Id">Editar</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@c.Id">Eliminar</a>
            </td>
        </tr>
        }
    </table>
    <br>
    <div style="text-align: center;">
        <a class="btn btn-warning" asp-action="Create">Crear un Cliente</a>
    </div>