@{ ViewData["Title"] = "Clientes"; }

@model List<Cliente>

<!--hola me quiero ir a mimir pues me dormi a las 6, y alguien que no dire quien es me desperto >:v -->
   <!--uwu-->
    <!-- Título de clientes con boostrap-->
    <br>
    <div class="container" id="title">
        <h1>Clientes</h1>
    </div>
    <br>

    <table class="table table-striped table-hover" id="tablaClientes">
        <thead class="thead-dark">
            <tr>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Correo</th>
                <th>OPCIONES</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model)
            {

            <tr>
                <td>@c.Nombre</td>
                <td>@c.Direccion</td>
                <td>@c.Telefono</td>
                <td>@c.Correo</td>
                <td>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@c.Id">Detalles</a>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@c.Id">Editar</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@c.Id">Eliminar</a>
                </td>
            </tr>

            }
        </tbody>
    </table>
    <br>
    <div style="text-align: center;">
        <a class="btn btn-warning" asp-action="Create">Crear un Cliente</a>
    </div>