@{ ViewData["Title"] = "Clientes"; }

@model List<Cliente>

<a asp-action="Create">Crear un Nuevo Cliente:</a>

<h1>
    Clientes:
</h1>

<table>
    <tr>
        <th>Nombre</th>
        <th>Direccion</th>
        <th>Telefono</th>
        <th>Correo</th>
        <th></th>
    </tr>
    @foreach (var c in Model)
    {
        <tr>
            <th>@c.Nombre</th>
            <td>@c.Direccion</td>
            <th>@c.Telefono</th>
            <td>@c.Correo</td>
            <td>
                <a asp-action="Details" asp-route-id="@c.Id">Detalles</a> |
                <a asp-action="Edit" asp-route-id="@c.Id">Editar</a> |
                <a asp-action="Delete" asp-route-id="@c.Id">Eliminar</a>
            </td>
        </tr>
    }
</table>