@{ ViewData["Title"] = "Clientes"; }

@model List<Cliente>



<h1>
    Clientes:
</h1>

<table class="table table-striped">
    <thead>
        
        <th>Nombre</th>
        <th>Direccion</th>
        <th>Telefono</th>
        <th>Correo</th>
        <th>OPCIONES</th>
    </thead>
    @foreach (var c in Model)
    {
        <tr>
            <th>@c.Nombre</th>
            <td>@c.Direccion</td>
            <th>@c.Telefono</th>
            <td>@c.Correo</td>
            <td>
                <button class="btn btn-info" asp-action="Details" asp-route-id="@c.Id">Detalles</button>
                <button class="btn btn-info" asp-action="Edit" asp-route-id="@c.Id">Editar</button>
                <button class="btn btn-info" asp-action="Delete" asp-route-id="@c.Id">Eliminar</button>
            </td>
        </tr>
    }
</table>
<br>
<br>
<div style="text-align: center;">
<button class="btn btn-primary" asp-action="Create">Crear Cliente:</button>
</div>

