@{ ViewData["Title"] = "Ventas"; }

@model List<Venta>



    <br>
    <div class="container" id="title">
        <h1>Ventas</h1>
    </div>
    <br>

<!--Crea una tabla dentro de un card--> 





  <div class="card" id="card">
    <div class="table-responsive">
        <table class="table table-striped-hover" id="tablaVentas">
            <thead>
                <th>Cliente</th>
                <th>Telefono</th>
                <th>Correo</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Fecha</th>
                <th>Opciones</th>
            </thead>
            <tbody>
            @foreach (var c in Model)
            {
            <tr>
                <td>@c.Nombre</td>
                <td>@c.Telefono</td>
                <td>@c.Correo</td>
                <td>@c.Descripcion</td>
                <td>$@c.Precio</td>
                <td>@c.Fecha</td>
                <td>
                    <a class="btn btn-info btn-block" asp-action="Details" asp-route-id="@c.Id"
                        style="--bs-btn-padding-y: .40rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .50rem;">Detalles</a>
                    <a class="btn btn-warning btn-block" asp-action="Edit" asp-route-id="@c.Id"
                        style="--bs-btn-padding-y: .40rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .50rem;">Editar</a>
                    
                    <a class="btn btn-danger eliminar-btn" asp-action="Delete" asp-route-id="@c.Id"
                        style="--bs-btn-padding-y: .40rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .50rem;">Eliminar</a>
                </td>
            </tr>
            }
            </tbody>
        </table>
    </div>
   </div>
    <br>
    <div style="text-align: center;">
        <a class="btn btn-warning" asp-action="Create">Realizar una Venta</a>
    </div>